<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>ChatApp</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/chatapp.css">
</head>
<style>
</style>
<body>
	<div class="chatapp-container">
		<div class="toppane">
			<form method="get" th:action="@{/logout}">
				<!--input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/-->
				<span class="username">[[${#httpServletRequest.remoteUser}]]</span>
				<button class="btn btn-sm btn-primary float-r" type="submit">Logout</button>
			</form>
		</div>
		<div class="leftpane">
			<div id="online-users-title">Active Users</div>
			<!--div id="online-users-null" th:if="${onlineusers.empty}">Nobody is online</div-->
<!-- 			<div id="online-users" th:if="${onlineusers != null}"> -->
<!-- 				<ul id="online-users-list" th:each="user: ${onlineusers}"> -->
<!-- 					<li id="online-user" th:text="${user.username}"></li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
		</div>
		<div class="middlepane"></div>
		<div class="rightpane">
			<div id="offline-users-title">Offline Users</div>
			<div id="offline-users-list"></div>
		</div>
	</div>
</body>
</html>